html { 
    background: url("https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/14188675_1811927139029005_1681871185566115652_o.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
}

body {
    color: white;
    background-color: transparent;
    font-family: arial;
}
header{
    margin-left: 100px;
    padding: 5px;
}
nav ul{
    margin: 0;
}

nav ul li{
    text-align: left;
    font-size: 20px;
    background: lightsalmon;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a{
    color: white;
}

p{
    font-size: 16px;
    clear: both;
    background: #000;
    color: white;
    padding: 10px;
}
article {
        margin-left: 350px;
        margin-right: 550px;
        border-left: 1px solid gray;
        padding: 20px;
}
h1#app-name {
    font-size:45px;
}

button#refreshbtn {
    display:none;
}

h2#page-header {
    padding-left: 180px;
    padding-bottom:10px;
}

body #page-container {
  
    text-align: left;
    margin-bottom: 10px;
}

input#my-file-selector {
    display:none;
}
.img-circle {
    width: 200px;
    float: center;
    margin-right: 40px;
}
.img-queenstown {
    width: 450px;
    float: center;
    margin-right: 40px;
}

.img-facebook {
    width: 40px;
    float: bottom;
    margin-top: 540px;
    margin-right: 40px;
}
var button {

    float: center;
}